<html>
    <head>
        <title>Start Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Agregar la ruta al favicon aquí -->
        <link rel="icon" href="{{ url_for('favicon') }}" type="image/vnd.microsoft.icon">
        <style>
            body {
                text-align: center;
                font-family: Arial, sans-serif;
            }
            img {
                width: 300px; /* Ajusta el tamaño de la imagen si es necesario */
                margin-top: 20px;
            }
        </style>
    </head>
    <body>
        <h1>UNIVERSIDAD CENTRAL DEL ECUADOR</h1>
        <h2>Facultad de Ingenieria y Ciencias Aplicadas</h2>
        <h3>Programacion Distribuida</h3>
        <img src="{{ url_for('static', filename='images/unnamed.jpg') }}" alt="Logo">
        <h3>Hola Mundo en Python</h3>
    </body>
</html>